.DisplayInfoBg {
  background-color: rgba(20, 20, 20, 0.555);
  width: 100vw;
  height: 100vh;
  color: aliceblue;
  position: fixed;
  top: 0px;
  left: 0px;
  backdrop-filter: blur(9px);
}

.DisplayInfoContainer {
  background-color: rgba(22, 22, 22, 0.767);
  width: 55vw;
  position: absolute;
  top: 15vh;
  left: 22.5vw;
  border-radius: 1vw;
  text-align: center;
  filter: drop-shadow(0 0 1vw rgb(2, 2, 2));
}

.BackButton {
  position: absolute;
  right: 25vw;
  top: 10vh;
  border-radius: 1vw;
  width: 3vw;
  height: 1.5vw;
  border-radius: 0.7vw;
  background: rgb(194, 8, 56);
  color: aliceblue;
  font-weight: bold;
  width: 3.5vw;
  height: 1.8vw;
  border-radius: 0.7vw;
  text-align: center;
  filter: drop-shadow(0 0 0.5vw rgb(0, 0, 0));
  font-size: 0.8vw;
  line-height: 1.4vw;
  border: none;
  transition-timing-function: ease-in-out;
  transition: 0.1s;
}

.BackButton:hover {
  filter: drop-shadow(0 0 0.3vw rgba(160, 160, 160, 0.404));
}

.Thumbnail {
  height: 20vw;
  width: 15vw;
  position: absolute;
  right: 2vw;
  top: 2vw;
  border-radius: 1vw;
  filter: drop-shadow(0 0 0.5vw rgb(0, 0, 0));
}

.Trailer {
  position: absolute;
  top: 2vw;
  right: 18vw;
  border-radius: 1vw;
  filter: drop-shadow(0 0 0.5vw rgb(0, 0, 0));
}

.Title {
  position: absolute;
  top: -3vw;
  left: 2vw;
  font-size: 2vw;
  filter: drop-shadow(0 0 0.5vw rgb(0, 0, 0));
  font-weight: bold;
}
.Year {
  position: absolute;
  top: 24vw;
  left: 3vw;
  font-size: 1.3vw;
  filter: drop-shadow(0 0 0.5vw rgb(0, 0, 0));
}
.Type {
  position: absolute;
  top: 24vw;
  left: 6.5vw;
  font-size: 1.3vw;
  filter: drop-shadow(0 0 0.5vw rgb(0, 0, 0));
}
.Type::first-letter {
  text-transform: uppercase;
}

.DetailsButton {
  position: absolute;
  top: 24vw;
  right: 3vw;
  font-size: 1.3vw;
  color: rgba(240, 248, 255, 0.5);
  border: none;
  border-right: 5px solid rgba(0, 255, 255);
  background-color: transparent;
  transition-timing-function: ease-in-out;
  transition: 0.1s;
}
.DetailsButton:hover {
  color: rgba(240, 248, 255);
  border-right: 5px solid rgba(0, 255, 255);
}
.Produced {
  position: absolute;
  top: 26vw;
  left: 3vw;
  font-size: 1.3vw;
  filter: drop-shadow(0 0 0.5vw rgb(0, 0, 0));
}

.Plot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 51vw;
  font-size: 1vw;
  color: rgba(117, 117, 117, 0.609);
  font-style: italic;
  background-color: rgb(10, 10, 10);
  padding: 2vw;
  border-radius: 0 0 1vw 1vw;
}

.Created {
  height: 20vw;
  width: 35vw;
  position: absolute;
  right: 18vw;
  top: 2vw;
  border-radius: 1vw;
  background-color: rgb(22, 22, 22);
  filter: drop-shadow(0 0 0.5vw rgb(0, 0, 0));
}

.CreatedTitle {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  font-weight: bold;
  font-size: 1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 1vw 1vw 0 0;
  background-color: rgba(10, 10, 10, 0.897);
}

.CreatedListContainer {
  margin-top: 15%;
  width: 95%;
  text-align: left;
  height: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.CreatedList {
  margin-top: 0;
  margin-bottom: 3%;
  margin-left: 5%;
  display: flex;
}
.Field {
  margin-right: 7%;
  font-size: 1vw;
}
.Field::first-letter {
  text-transform: capitalize;
}

.CreatedListContainer::-webkit-scrollbar {
  width: 5px;
}

.CreatedListContainer::-webkit-scrollbar-track {
  background: #f1f1f100;
}

.CreatedListContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1vw;
}

.CreatedListContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}
