.EditSidebar {
  position: fixed;
  width: 50vw;
  height: 5vh;
  z-index: 1000;
  opacity: 0.9;
  left: 50vw;
  top: 0;
}

.EditTitle {
  margin-top: 10vh;
  color: aliceblue;
}

.EditButton {
  text-decoration: none;
  color: aliceblue;
  font-size: 1vw;
  font-weight: bold;
  filter: drop-shadow(0 0 1vw rgb(0, 0, 0));
  background: rgb(194, 8, 56);
  padding-top: 0.3vw;
  padding-bottom: 0.4vw;
  padding-left: 0.6vw;
  padding-right: 0.6vw;
  border-radius: 1vw;
  border: none;
  position: absolute;
  top: 1.5vw;
  right: 11vw;
}
