nav {
  display: flex;
}
.NavContainer {
  position: fixed;
  width: 100vw;
  padding-bottom: 1vw;
  margin-bottom: 1vw;
  background-color: rgb(17, 17, 17);
  z-index: 1000;
  filter: drop-shadow(0 0 0.5vw rgb(0, 0, 0));
}
li {
  list-style-type: none;
  margin-top: 1vw;
  margin-left: 11vw;
  margin-right: -8vw;
}

.link {
  text-decoration: none;
  color: aliceblue;
  font-size: 1vw;
  font-weight: bold;
}

.link:hover {
  filter: drop-shadow(0 0 0.5vw rgba(216, 216, 216, 0.623));
}

.Indicator {
  width: 1vw;
  height: 1vw;
  background-color: aliceblue;
  margin-left: 10vw;
}

body {
  background-color: rgb(17, 17, 17);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f100;
}

body::-webkit-scrollbar-thumb {
  background: #888;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
